      html, body {
	overflow:hidden;
	height:100%;
	}
	
      #map {
        width:100%;
	height:100%;
	position:absolute;
	left:0;	
        }
        
      .btn {
	  margin:3px;
	} 
	
      .btn-round { 
	font-weight: bold;
	width: 19px;
	height: 19px;
	text-align: center;
	padding: 1px 0;
	font-size: 13px;
	line-height: 0.1;
	border-radius: 30px;
	}
  
      .sidebar {
	position:absolute;
	top:0; right:0; width:300px;
 	bottom:0;
	overflow-x:auto;
	background-color: rgba(255,255,255,0.9);
	margin:0;
	padding:10px;
	padding-left:20px;
	font-size:15px;
	border-radius:0px;
	text-align:center;
	z-index:80;
	}
  
      #sidebar H1  {
      	text-align:left;
      	font-size:medium;
      	font-weight:bold;
      }

      #sidebar H2 {
      	text-align:left;
      	font-size:small;
      	font-weight:bold;
      }      

      #sidebar P {
      	text-align:left;
      	font-size:small;
      }
      
      .ScrollStyle {
      	left: 0px;
      	float: left;
	/*max-height: 250px;*/
	/*overflow-y: auto; /*scroll*/
	clear:both;
      }
      
      .bufferi {
      	left: 0px;
      	/*float: left;*/
	clear:both;     	
      }      
      
      .ScrollStyle label, .bufferi label {
      	font-weight:normal;
      	font-size: 13px;
      	display: block;
      	float: left;
      	clear:both;
      }

      .info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
      }
	
      .info h4 {
	margin: 0 0 5px;
	color: #777;
      }
   
      .legend {
        line-height: 18px;
        color: #555;
      }
      
      .legend i {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
      }
      
      #label {
	float:left;
	margin:0;
	margin-bottom:0px;
	font-size:13px;
	clear:right;
	}
	
      #ulkoilumetsat {
	float:left;
	width: 16px; 
	height: 16px;
	margin:0;
	margin-right:4px;
	background: #669966; 
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px; 
	border-radius: 8px; 
	clear:left;
	} 
	
      #kartanot {
	float:left;
	width: 16px; 
	height: 16px;
	margin:0;
	margin-right:4px;
	background: #996699; 
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px; 
	border-radius: 8px; 
	clear:left;
	} 
	
      #kesamajat {
	float:left;
	width: 16px; 
	height: 16px;
	margin:0;
	margin-right:4px;
	background: #666699; 
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px; 
	border-radius: 8px; 
	clear:left;
	} 
	
      #palstat {
	float:left;
	width: 16px; 
	height: 16px;
	margin:0;
	margin-right:4px;
	background: #003366; 
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px; 
	border-radius: 8px; 
	clear:left;
	} 	
	
      #koirat {
	float:left;
	width: 16px; 
	height: 16px;
	margin:0;
	margin-right:4px;
	background: #666633; 
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px; 
	border-radius: 8px; 
	clear:left;
	} 
	
      #leikki {
	float:left;
	width: 16px; 
	height: 16px;
	margin:0;
	margin-right:4px;
	background: #663399; 
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px; 
	border-radius: 8px; 
	clear:left;
	} 
	
      #suojelu {
	float:left;
	width: 16px; 
	height: 16px;
	margin:0;
	margin-right:4px;
	background: #336699; 
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px; 
	border-radius: 8px; 
	clear:left;
	} 
	
      #ranta {
	float:left;
	width: 16px; 
	height: 16px;
	margin:0;
	margin-right:4px;
	background: #66cccc; 
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px; 
	border-radius: 8px; 
	clear:left;
	} 
	
      #hauta {
	float:left;
	width: 16px; 
	height: 16px;
	margin:0;
	margin-right:4px;
	background: #666666; 
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px; 
	border-radius: 8px; 
	clear:left;
	} 

      #asema {
	float:left;
	width: 16px; 
	height: 16px;
	margin:0;
	margin-right:4px;
	background: #336666; 
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px; 
	border-radius: 8px; 
	clear:left;
	}
	
      #yleis {
	float:left;
	width: 16px; 
	height: 16px;
	margin:0;
	margin-right:4px;
	background: #336666; 
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px; 
	border-radius: 8px; 
	clear:left;
	}
	
      #muut {
	float:left;
	width: 16px; 
	height: 16px;
	margin:0;
	margin-right:4px;
	background: #336666; 
	-moz-border-radius: 8px; 
	-webkit-border-radius: 8px; 
	border-radius: 8px; 
	clear:left;
	} 
